@import url(./reset.css);

/* html, */
/* body {
    width: 100%;
    height: 100%;
    font-family: "Microsoft JhengHei", "Heiti TC", "sans-serif";
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
} */

/* a {
    text-decoration: none;
    color: #f6cc5a;
    font-weight: 300;
}

.header {
    background-image: linear-gradient(90deg, #333, #555);
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    margin-right: 1em;
    display: flex;
    align-items: center;
}

.fa-spotify {
    padding-right: 0.5em;
    color: #f5fd00;
}

span {
    font-size: 26px;
    font-weight: 500;
}


.navbar {
    display: flex;
    align-items: center;
    margin: auto;
}

.item {
    flex-grow: 1;
    padding: 20px;
    border-bottom: 5px solid transparent;
    transition: 0.3s;
}

.item:hover {
    border-bottom: 5px solid #ffa126;
} */

/* ----------nav */

img {
    display: block;
}

#app {
    width: 70%;
    height: 90%;
}

#app>.menu {
    width: 100%;
    height: 20%;
    overflow: auto;
}

#app>.menu>nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app>.menu>nav>a {
    cursor: pointer;
    width: 20%;
    height: 100%;
    float: left;
    opacity: 0.5;
}

#app>.menu>nav>a>img {
    width: 100%;
}

#app>#contentPhone {
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-bottom: 14px solid #fff;
    background-color: #ddd;

    background-image: url("../images/05/big/a1.jpg");
    background-size: cover;
    background-position: center;
}