<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./img/logo2.png" type="image/x-icon">
    <script src="https://use.fontawesome.com/0206006232.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="./vue.js"></script>
    <title>ShiBaInu</title>
</head>

<body>
    <header class="headerpage">
    </header>
    <!-- ------------------------ -->
    <div id="app">
        <div class="checkout">
            <nav class="breadcrumb-group">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page">我的購物車</li>
                </ol>
            </nav>
            <div class="threeBtn">
                <a href="./checkout.html">購物車</a>
                <a href="./collection.html">收藏清單</a>
                <a href="./record.html">瀏覽紀錄</a>
            </div>
            <div class="fixedcheckoutField">
                <!-- <h2>共</h2><span>{{num}}</span> -->
                <!-- <h2>件商品</h2> -->
                <div>
                    <h2> 商品金額小計</h2><span> NT${{productPrice}}</span>
                </div>
                <div>
                    <span> 購物回饋紅利點數 83 點</span>
                </div>
                <h1>符合滿額贈 送贈品 網購獨家零錢包 x 1</h1>
                <h1>商品金額 ${{productPrice}}</h1>
                <h1>紅利點數 -$0</h1>
                <h1>退貨保留款 -$0</h1>
                <h1>活動折扣 -$200</h1>
                <h1>優惠方案折扣 -$0</h1>
                <h1>運費/保價 +$60/0</h1>
                <div>
                    <h1>處理費 +$0</h1>
                </div>
                <h3>結帳金額</h3>
                <h4>NT$ {{prices}}</h4>
                <div class="fixedcheckoutFieldLastdiv">
                    <a href="#">送出訂單</a>
                    <a href="./shopBag.html">繼續購物</a>
                </div>
            </div>
            <div class="checkoutField">
                <div class="checkoutTitle">
                    <h4>商品資訊</h4>
                    <h5>數量</h5>
                    <h5>尺寸/顏色</h5>
                    <h5>定價</h5>
                    <h5>小計</h5>
                </div>
                <div class="checkoutContent">
                    <div class="checkoutText" v-for="(checkoutText,index) in checkoutTexts" :id=checkoutText.listid>
                        <img :src=checkoutText.src alt="">
                        <div>
                            <h1>{{checkoutText.title}}</h1>
                            <h1>{{checkoutText.name}}</h1>
                            <span>{{checkoutText.type}}</span>
                        </div>
                        <select name="change1" @change="change1(this,index)" :id=index>
                            <option :value=item.val v-for="(item,index) in checkoutText.amount">{{item.val}}
                            </option>
                        </select>
                        <label for="">{{checkoutText.color}}</label>
                        <label for="">NT$ {{checkoutText.price}}</label>
                        <label for="">NT$ {{checkoutText.subtotal}}</label>
                        <i class="fa-sharp fa-solid fa-heart" @click="add1(this,index)"></i>
                        <i class="fa-solid fa-trash" @click="delete1(this,index)"></i>
                    </div>
                </div>
            </div>

            <div class="checkoutField">
                <div class="checkoutTitle">
                    <h4>運送方式</h4>
                </div>
                <div class="checkoutContent">
                    <div class="checkoutTextThree">
                        <div>
                            <input type="radio" name="1" value="" id="a1" checked>
                            <label for="a1">宅配</label>
                        </div>
                        <div>
                            <input type="radio" name="1" value="" id="a2">
                            <label for="a2">超商取貨</label>
                        </div>
                        <div>
                            <input type="radio" name="1" value="" id="a3">
                            <label for="a3">超商取貨付款</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkoutField">
                <div class="checkoutTitle">
                    <h4>付款方式</h4>
                </div>
                <div class="checkoutContent">
                    <div class="checkoutTextFour">
                        <div>
                            <input type="radio" name="2" value="" id="ATM" checked>
                            <label for="ATM">ATM轉帳</label>
                        </div>
                        <div>
                            <input type="radio" name="2" value="" id="LINE">
                            <label for="LINE">LINE Pay</label>
                        </div>
                        <div>
                            <input type="radio" name="2" value="" id="CARD">
                            <label for="CARD">信用卡</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkoutField">
                <div class="checkoutTitle">
                    <h4>收件人資料</h4>
                </div>
                <div class="checkoutContent">
                    <div class="checkoutTextFive">
                        <div>
                            <label for="">姓名</label>
                            <input type="text" name="1" value="" placeholder="*必填">
                        </div>
                        <div>
                            <label for="">性別</label>
                            <input type="radio" name="1" value="" id="man">
                            <label for="man">先生</label>
                            <input type="radio" name="1" value="" id="women">
                            <label for="women">小姐</label>
                        </div>
                        <div>
                            <label for="">手機號碼</label>
                            <input type="text" name="1" value="" placeholder="*必填">
                        </div>
                        <div>
                            <label for="">收件地址</label>
                            <select>
                                <option>請選擇</option>
                                <option>新北市</option>
                            </select>
                            <select>
                                <option>請選擇</option>
                                <option>板橋區</option>
                            </select>
                            <select>
                                <option>請選擇</option>
                                <option>中山路一段</option>
                            </select>
                        </div>
                        <div>
                            <label for="">詳細地址</label>
                            <input type="text" name="1" value="" placeholder="*必填">
                        </div>
                        <div>
                            <label for="">備註</label>
                        </div>
                        <div>
                            <textarea name="" id="" cols="25" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------ -->
    <footer class="footerpage">
    </footer>
    <script>
        $(".headerpage").load("header.html");
        $(".footerpage").load("footer.html");
    </script>
    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    checkoutTexts: [
                        {
                            src: "./img/shopBag1.png",
                            title: 'Sacoche type',
                            name: '波士頓包',
                            type: '新品上市',
                            color: '深藍色',
                            price: 4250,
                            subtotal: 4250,
                            amount: [{ val: 1 }, { val: 2 }, { val: 3 }, { val: 4 }, { val: 5 }],
                            dis: true,
                            listid: "listid0",


                        },
                        {
                            src: "./img/detailpic1.png",
                            title: 'LPORTER ALOOF',
                            name: '雙肩包',
                            type: '新品上市',
                            color: '黑色',
                            price: 5250,
                            subtotal: 5250,
                            amount: [{ val: 1 }, { val: 2 }, { val: 3 }],
                            dis: true,
                            listid: "listid1",

                        },
                        {
                            src: "./img/shopWallet1.png",
                            title: 'PORTER SPLENDOR',
                            name: '皮夾',
                            type: '贈品',
                            color: '深藍色',
                            price: 0,
                            subtotal: 0,
                            amount: [{ val: 1 }],
                            dis: true,
                            listid: "listid2",

                        }
                    ],
                    prices: 9360,
                    productPrice: 9500,
                    dis: true,
                    num: 3,
                }
            },
            methods: {
                add1(e, r) {

                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: '已加入收藏',
                        showConfirmButton: false,
                        timer: 1000
                    })

                    $(`#listid${r}`).remove();

                },
                delete1(e, r) {
                    let temp = document.getElementById(r);
                    console.log(r);
                    Swal.fire({
                        title: '確定刪除?',

                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire(
                                '已成功移除'
                            )

                            $(`#listid${r}`).remove();
                        }
                    })
                },
                change1(e, r) {
                    let temp = document.getElementById(r).value
                    this.num =  Number(temp)
                    e.checkoutTexts[r].subtotal = e.checkoutTexts[r].price * temp;
                    let total = 0;
                    this.checkoutTexts.forEach((e) => {
                        total += e.subtotal;
                        this.prices = total - 140;
                        this.productPrice = total;
                        return this.prices;
                    });
                },
                tt() {
                    console.log(this.num++);
                },
            }
        }).mount('#app')
    </script>
</body>

</html>