<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./img/logo2.png" type="image/x-icon">
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="./vue.js"></script>
    <title>ShiBaInu</title>
</head>

<body>
    <header class="headerpage">
    </header>
    <!-- ------------------------ -->
    <div id="app">
        <div class="rwd-shop-banner">
            <img :src=banner alt="">
        </div>
        <div class="main">
            <nav class="breadcrumb-group">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="./shopWallet.html">皮夾</a></li>
                    <li class="breadcrumb-item" aria-current="page">全部皮夾</li>
                </ol>
            </nav>
            <div class="shop-title">
                <h1>
                    {{title}}
                </h1>
            </div>
            <div class="shop-all">
                <div class="shop-menu">
                    <ul>
                        <li @click=filter1 style="background-color: #002742;color: #fff;">全部{{title}}</li>
                        <li v-for="(list,index) in menu" @click=filter0(list,index)>{{list}}</li>
                    </ul>
                </div>

                <div class="shop-list">
                    <div class="shop-card" v-for="(item,index) in product" :id=index style="display: block;">
                        <a href="./detailBag.html">
                            <img :src="item.imgSrc" alt="" v-bind:title="item.name">
                            <div class="shop-card-group">
                                <div class="shop-card-div">
                                    <h1>{{item.name}}</h1>
                                    <span>{{item.new}}</span>
                                </div>
                                <div>
                                    <h3>{{item.type}}</h3>
                                    <h3>NT$ {{item.price}}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <nav class="pagination-group">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav> -->
        </div>
    </div>
    <!-- ------------------------ -->
    <footer class="footerpage">
    </footer>
    <script>
        $(".headerpage").load("header.html");
        $(".footerpage").load("footer.html");
    </script>
    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    banner: "./img/2000/wallet.jpg",
                    title:'皮夾',
                    product: [
                        {
                            detail: './detailBag.html',
                            name: 'PORTER SPLENDOR',
                            imgSrc: "./img/shopWallet1.png",
                            type:'零錢包',
                            price: 45100,
                            new:'新品',
                            pid:0,
                        },
                        {
                            detail: './detailBag.html',
                            name: 'SHRINK',
                            imgSrc: "./img/shopWallet2.png",
                            type:'零錢包',
                            price: 6650,
                            new:'新品',
                            pid:1,
                        },
                        {
                            detail: './detailBag.html',
                            name: 'PORTER ENCHASE',
                            imgSrc: "./img/shopWallet3.png",
                            type:'中/短夾',
                            price: 29700,
                            new:'新品',
                            pid:2,
                        },
                        {
                            detail: './detailBag.html',
                            name: 'PORTER WALL',
                            imgSrc: "./img/shopWallet4.png",
                            type:'零錢包',
                            price: 11000,
                            new:'新品',
                            pid:3,
                        },
                        {
                            detail: './detailBag.html',
                            name: 'PORTER SPLENDOR',
                            imgSrc: "./img/shopWallet5.png",
                            type:'中/短夾',
                            price: 45100,
                            new:'新品',
                            pid:4,
                        },
                        {
                            detail: './detailBag.html',
                            name: 'SHRINK',
                            imgSrc: "./img/shopWallet6.png",
                            type:'中/短夾',
                            price: 6650,
                            new:'新品',
                            pid:5,
                        },
                        {
                            detail: './detailBag.html',
                            name: 'PORTER ENCHASE',
                            imgSrc: "./img/shopWallet7.png",
                            type:'長夾',
                            price: 29700,
                            new:'新品',
                            pid:6,
                        },
                        {
                            detail: './detailBag.html',
                            name: 'PORTER WALL',
                            imgSrc: "./img/shopWallet8.png",
                            type:'零錢包',
                            price: 11000,
                            new:'新品',
                            pid:7,
                        },
                        {
                            detail: './detailBag.html',
                            name: 'PORTER SPLENDOR',
                            imgSrc: "./img/shopWallet9.png",
                            type:'中/短夾',
                            price: 45100,
                            new:'新品',
                            pid:8,
                        },
                        {
                            detail: './detailBag.html',
                            name: 'NEW HEAT JET BLACK',
                            imgSrc: "./img/shopWallet10.png",
                            type:'中/短夾',
                            price: 6650,
                            new:'新品',
                            pid:9,
                        },
                        {
                            detail: './detailBag.html',
                            name: 'PORTER ENCHASE',
                            imgSrc: "./img/shopWallet11.png",
                            type:'零錢包',
                            price: 29700,
                            new:'新品',
                            pid:10,
                        },
                        {
                            detail: './detailBag.html',
                            name: 'SHRINK',
                            imgSrc: "./img/shopWallet12.png",
                            type:'零錢包',
                            price: 35750,
                            new:'新品',
                            pid:11,
                        }
                    ],
                    show1: true,
                    menu:['中/短夾','長夾','零錢包'],
                }
            },
            methods: {
                filter0(e, index) {
                    let test = document.getElementsByClassName('shop-card');
                    // console.log(test);
                    for (let i = 0; i < test.length; i++) {
                        test[i].style.display = 'none';
                    }

                    this.product.forEach((t) => {
                        if (t.type == e) {
                            let test2 = document.getElementById(t.pid);
                            console.log(t.pid);
                            test2.style.display = 'block';
                        }
                    });
                },
                filter1() {
                    let test = document.getElementsByClassName('shop-card');
                    // console.log(test);
                    for (let i = 0; i < test.length; i++) {
                        test[i].style.display = 'block';
                    }
                    window.scrollTo({
                        top: 0,
                        left: 0,
                        behavior: "smooth",
                    });
                }
            },
        }).mount('#app')
    </script>
</body>

</html>