@import url(reset.css);

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #ffffff;
  margin: 0 auto;
}

/* -------------------通用Start-------------------- */
/* --------------------header------------------ */
.header {
  width: 100%;
  height: 150px;
  background: #ffffff;
}

.header-all {
  display: flex;
  align-items: center;
  max-width: 1920px;
  height: 150px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
  font-size: 25px;
  position: relative;
}

/* -----------header-logo-------------- */

.header-logo {
  width: 30%;
  margin-top: 30px;
}

.header-logo img {
  width: 80%;
}

/* -----------header-nav------------ */

.header-navbar-position {
  width: 70%;
}

.header-navbar-position ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.header-navbar-position ul>li {
  width: 100px;
  height: 150px;
}


.header-navbar-position ul>li>a,
.header-navbar-position ul>li>span>a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  max-height: 150px;
  height: 150px;
  word-wrap: break-word;
  text-align: center;
  justify-content: center;
  writing-mode: vertical-lr;
  padding: 0 0 0 35px;
}

.header-navbar-position ul>li:first-child a {
  color: #000000;
  font-weight: bold;
}

.header-navbar-position ul>li:last-child a,
.header-navbar-position ul>li:nth-last-child(2) a,
.header-navbar-position ul>li:nth-last-child(3) a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  max-height: 50px;
  height: 50px;
  word-wrap: break-word;
  text-align: center;
  writing-mode: unset;
  font-size: 15px;
  padding: 15px 0 0 0;

}

.header-navbar-position ul>li {
  margin-right: 40px;
  border-radius: 0 0 10px 10px;
}

.header-navbar-position ul>li:nth-child(1) {
  background-color: #FF9148;
}

.header-navbar-position ul>li:nth-child(2) {
  background-color: #002742;
}

.header-navbar-position ul>li:nth-child(3) {
  background-color: #717659;
}

.header-navbar-position ul>li:nth-child(4) {
  background-color: #C3C3C3;

}

.header-navbar-position ul>li:last-child {
  background-color: #FF9148;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

.header-navbar-position ul>li:nth-last-child(2) {
  background-color: #002742;
  height: 50px;
  position: absolute;
  top: 0;
  right: 100px;

}

.header-navbar-position ul>li:nth-last-child(3) {
  background-color: #717659;
  height: 50px;
  position: absolute;
  top: 0;
  right: 200px;

}

.header-navbar-wrap {
  display: none;


}

.header-navbar-category {
  width: 900px;
}

.header-navbar-category ol {
  margin-top: 30px;
  margin-left: 50px;
}

.header-navbar-category li {
  display: block;
  margin-right: 80px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  float: left;
  width: 100px;
}

.header-navbar-category a {
  line-height: 25px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.header-navbar-category a:visited {
  color: #000000;
}


span:hover .header-navbar-wrap {
  display: flex;
  position: absolute;
  background-color: #f0f0f0;
  width: 1920px;
  height: 300px;
  z-index: 1000;
  left: 0px;
  top: 150px;
}


/* ---------------footer---------------- */
.footer {
  width: 100%;
  background-color: #D9D9D9;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: auto;
  max-height: 50%;

}

.footer a {
  color: black;
  text-align: left;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin: 20px;
  white-space: nowrap;

}

.footer ul>li:first-child a {
  font-weight: bold;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a:visited {
  color: #000000;
}


/* -----------------------other------------------------ */
.main {
  max-width: 1920px;
  margin: auto;
}

.main a {
  text-decoration: none;
}

.img-w-100 {
  width: 100%;
}

a:visited {
  color: #35A3E0;
}

a:active {
  color: #FF9148;
}

/* -----------------breadcrumb----------------- */
.breadcrumb {
  display: flex;
}

.breadcrumb-group {
  margin-left: 20px;
}

.breadcrumb li {
  margin: 10px;
}

.breadcrumb li a {
  color: #4d4d4d;
  font-size: 14px;
}

.breadcrumb-item ::after {
  margin: 0 5px 0 10px;
  content: "/";
  color: #999;
  display: inline-block;
}

/* -------------------Pagination---------------------- */
.pagination-group {
  margin: 20px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item {
  width: 50px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.page-link {
  color: #002742;
  font-size: 25px;

}

.page-item:hover {
  background-color: #D9D9D9;
}

/* -----------------------通用End------------------------------- */
/* ------------------------------------------------------------- */





/* --------------------Page-index----------------------- */
/* ---------------banner& mid & menu--------------- */
.banner {
  max-width: 1920px;
  margin: 50px 0;
}


.mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.mid img {
  width: 33.33333%;
}


.menu {
  display: flex;
  margin: 50px 0;
}

.menu a {
  margin-right: 30px;
  display: block;
}

.menu img {
  border-radius: 20%;
}

/* ---------------bot & card--------------- */

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

}

.card-group {
  display: flex;
  margin-bottom: 100px;
}

.card-img {
  width: 50%;

}

.card-img img {
  width: 100%;
  border-radius: 30px;
}

.card-text {
  width: 50%;
  margin-left: 50px;
}


.card-text h6 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  padding: 50px;
  padding-right: 100px;
  text-align: center;
}

.card-text p {
  color: rgb(0, 0, 0);
  font-size: 22px;
  line-height: 30px;
  text-align: left;
}


/* --------------------Page-shop----------------------- */
/* --------------------shopcard----------------------- */
.shop-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 30px;
}

.shop-card {
  text-align: left;
  margin-bottom: 10px;
}

.shop-card img {
  border-radius: 10px;
  width: 100%;
}

.shop-card h1 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 25px;
}

.shop-card h3 {
  text-align: left;
  font-size: 20px;
}

/* ------------------detailBag------------- */
.detailBag>.banner>h1 {
  width: 100%;
  font-size: 55px;
  text-align: center;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.detailGroup {
  margin: 0 90px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.detailBigPic img {
  border-radius: 10px;
}

.detailText {
  font-family: initial;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.detailText h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.detailText h4 {
  margin-top: 30px;
  color: #35A3E0;
  margin-left: 20px;
  font-weight: bold;
}

.detailText h5 {
  color: #35A3E0;
  width: 150px;
  font-size: 15px;
  margin-left: 20px;
  line-height: 20px;
  margin-top: 10px;
}

.detailText>h5>a {
  text-decoration: none;
}

.detailText p {
  font-size: 15px;
  line-height: 25px;
  margin-left: 150px;
}

.detailBtn button {
  background-color: #FF9148;
  border: 0;
  display: block;
  margin: 30px 0 30px 30px;
  width: 120px;
  border-radius: 15px;
  padding: 5px;
  color: #ffffff;
}

.detailsmallpic {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px;

}

.detailsmallpic div {
  margin: 10px;
}

.detailsmallpic img {
  border-radius: 10px;

}

.detailBtn button:last-child {
  background-color: #717659;
}

.colorBtn {
  justify-content: center;
  margin-left: 50px;
}

.colorBtn button {
  margin: 15px 15px 0 0;
}

.colorBtn>button:first-child {
  border-radius: 100%;
  border: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 255, 183);
}

.colorBtn>button:nth-child(2) {
  border-radius: 100%;
  border: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(158, 18, 18);
}

.colorBtn>button:nth-child(3) {
  border-radius: 100%;
  border: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(128, 0, 255);
}


/* ---------------RWD---------------------- */
@media screen and (max-width: 1224px) {
  .header-navbar-position ul>li:last-child {
    background-color: #FF9148;
    height: 50px;
    top: 0;
    right: 0;
    border-radius: 0;
  }

  .header-navbar-position ul>li:nth-last-child(2) {
    background-color: #002742;
    height: 50px;
    top: 50px;
    right: 0;
    border-radius: 0;
  }

  .header-navbar-position ul>li:nth-last-child(3) {
    background-color: #717659;
    height: 50px;
    top: 100px;
    right: 0;
    border-radius: 10;
  }
}