@import url(reset.css);

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #484f3da3;
  margin: 0 auto;
}

/* ---------------nav--------------- */
.nav {
  width: 100%;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav img {
  width: 400px;
  padding-left: 10px;
}

.nav ul {

  margin-top: 20px;
  padding-right: 10px;
  position: relative;
  display: flex;
}

.nav li {
  margin:0 50px;
  background-color: #002742;
  font-weight: bold;
  padding: 30px 10px;
  /* border-radius: 10px; */

}

.nav ol {
  position: absolute;
  display: none;
  z-index: 10;
}


.nav a {
  color: ivory;
  text-decoration: none;
  display: block;
  font-size: 30px;
  width: 200px;
  text-align: center;
}

.nav li:hover {
  background-color: #FF9148;
  color: rgb(255, 255, 255);
}

li:hover>ol {
  display: block;
}



/* ---------------共用--------------- */
.main {
  width: 1920px;
  margin: auto;
  position: relative;
}

.main a {
  text-decoration: none;
}




/* ---------------banner&mid&menu--------------- */
.banner {
  width: 100%;
}
.banner img{
  display: block;
}

.mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.menu {
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu nav {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu img {
  border-radius: 20%;
}

.menu a {
  margin-right: 30px;
}


/* ---------------bot&card--------------- */

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

}

.card-group {
  display: flex;
  margin-bottom: 100px;
}

.card-img {
  width: 50%;

}

.card-img img {
  width: 100%;
  border-radius: 30px;
}

.card-text {
  width: 50%;
  margin-left: 50px;
}


.card-text h6 {
  color: white;
  font-size: 50px;
  padding: 50px;
  padding-right: 100px;
  text-align: left;
}

.card-text p {
  color: white;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
}

/* ---------footer------ */
.footer {
  width: 100%;
  background-color: #D9D9D9;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: auto;
  max-height: 50%;

}

.footer ul {
  margin-right: 100px;
}

.footer a {
  color: black;
  text-align: left;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin: 20px;
}